<h2>Campervan name: <%= @campervan.name %></h2>

<table>
  <tr>
    <th>Attributes</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>year</td>
    <td><%= @campervan.year %></td>
  </tr>
  <tr>
    <td>make</td>
    <td><%= @campervan.make %></td>
  </tr>
  <tr>
    <td>model</td>
    <td><%= @campervan.model %></td>
  </tr>
  <tr>
    <td>color</td>
    <td><%= @campervan.color %></td>
  </tr>
  <tr>
    <td>mileage</td>
    <td><%= @campervan.mileage %></td>
  </tr>
  <tr>
    <td>description</td>
    <td><%= @campervan.description %></td>
  </tr>
</table>

<br />
<%= link_to "Edit #{@campervan.name}", edit_campervan_url(@campervan) %>
<!--
When required to send parameters in query string, you can do this like so: xyz_url(key: :value).
Same as above code, the older more verbose way: -->
<!-- <%= link_to "Edit #{@campervan.name}", controller: "campervans", action: "edit", id: @campervan %> -->
<!-- for more info: http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to -->
<br />
<%= link_to "Return to Index", campervans_url %>
<!-- above code is same as following code:
<a href="<%= edit_campervan_url(@campervan) %>">Edit Campervan</a>
<br />
<a href="<%= campervans_url %>">Return to Index</a> -->
