<h2><%= @campervan.name %> Show page</h2>

<table>
  <tr>
    <th>Attributes</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>year</td>
    <td><%= @campervan.year %></td>
  </tr>
  <tr>
    <td>make</td>
    <td><%= @campervan.make %></td>
  </tr>
  <tr>
    <td>model</td>
    <td><%= @campervan.model %></td>
  </tr>
  <tr>
    <td>color</td>
    <td><%= @campervan.color %></td>
  </tr>
  <tr>
    <td>mileage</td>
    <td><%= @campervan.mileage %></td>
  </tr>
  <tr>
    <td>description</td>
    <td><%= @campervan.description %></td>
  </tr>
</table>
