<!DOCTYPE html>
<html>
	<head>
		<title>Chunes</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
	</head>

	<body>
		<div class="main-content">
			<h1 class="main-logo">CHUNES</h1>

			<% if logged_in? %>
				<h1>Logged in as: <%= current_user.email %></h1>
				<a class="button" href="<%= artists_url %>">Home</a>
				<div>
					<form action="/session" method="POST">
						<input type="hidden" name="_method" value="DELETE">
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
						<input type="submit" value="Log Out">
					</form>
				</div>
			<% end %>

			<!-- flash data is not available after refresh -->
			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% end %>

			<%= yield %>
		</div>
	</body>
</html>
